<section class="bg-white text-black py-8">
    
    <div class="logos group relative overflow-hidden whitespace-nowrap py-1 [mask-image:_linear-gradient(to_right,_transparent_0,_white_128px,white_calc(100%-128px),_transparent_100%)]">
      <div class="animate-slide-left-infinite group-hover:animation-pause inline-block w-max">
        <!-- Ensure that the images cover entire screen width for a smooth transition -->
        <img class="mx-4 inline h-16" src="../../public/logos/iitb-logo.png" alt="Transistor" />
        <img class="mx-4 inline h-16" src="../../public/logos/fossee-logo.png" alt="Transistor" />
        <img class="mx-4 inline h-16" src="../../public/logos/nmeict-logo.png" alt="Transistor" />
        <img class="mx-4 inline h-16" src="../../public/logos/rudra-logo.png" alt="Transistor" />
        <img class="mx-4 inline h-16" src="../../public/logos/iit-tirupati.png" alt="Transistor" />
        <img class="mx-4 inline h-16" src="../../public/logos/navavishkaar.png" alt="Transistor" />
        <img class="mx-4 inline h-16" src="../../public/logos/NM-ICPS-logo1.png" alt="Transistor" />
        

      </div>
  
      
    </div>
  </section>