<div class="bg-white h-24 w-screen py-1 flex items-center justify-center max-md:h-16">
      <img
        class="w-auto h-4/6 p-2 object-cover"
        src="../../public/logos/iitb-logo.png"
        alt="Placeholder Image"
      />
      <img
        class="w-auto h-4/6 p-2 object-cover"
        src="../../public/logos/fossee-logo.png"
        alt="Placeholder Image"
      />
      <img
        class="w-auto h-4/6 p-2 object-cover"
        src="../../public/logos/nmeict-logo.png"
        alt="Placeholder Image"
      />
      <img
        class="w-auto h-4/6 p-2 object-cover"
        src="../../public/logos/rudra-logo.png"
        alt="Placeholder Image"
      />
      <img
        class="w-auto h-4/6 p-2 object-cover"
        src="../../public/logos/iit-tirupati.png"
        alt="Placeholder Image"
      />
      <img
        class="w-auto h-4/6 p-2 object-cover"
        src="../../public/logos/navavishkaar.png"
        alt="Placeholder Image"
      />
      <img
        class="w-auto h-4/6 p-2 object-cover"
        src="../../public/logos/NM-ICPS-logo1.png"
        alt="Placeholder Image"
      />
      <img
        class="w-auto h-4/6 p-2 object-cover"
        src="../../public/logos/icfoss-logo.png"
        alt="Placeholder Image"
      />
      <img
        class="w-auto h-4/6 p-2 object-cover"
        src="../../public/logos/st-logo.png"
        alt="Placeholder Image"
      />
      <!-- Repeat the above image element 8 more times to display a total of 9 images -->
</div>
  
